<div class="user-details">
    <mat-list role="list">
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Detalhes do usuario</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-h2">Nome:</span><span class="mat-h3">Yago C.S</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-h2">Email:</span><span class="mat-h3">yagoig8example.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-h2">Idade:</span><span class="mat-h3">28</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-h2">Endereço:</span><span class="mat-h3">R. Cabo Verde, 09, São José - SC</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-h2">Telefone:</span><span class="mat-h3">(48) 99198-8682</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-h2">Ativo:</span><span class="mat-h3">Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-h2">Função:</span><span class="mat-h3">matador de aluguel</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <span class="mat-h2">Data de cadastro:</span><span class="mat-h3">29/05/2024</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>